name = "LaTeX"
grammar = "latex"
path_suffixes = ["tex", "latex", "sty", "cls"]
line_comments = ["%"]
autoclose_before = "\"}])'`"
brackets = [
    { start = "{", end = "}", close = true, newline = false },
    { start = "[", end = "]", close = true, newline = false },
    { start = "(", end = ")", close = true, newline = false },
    { start = "$", end = "$", close = true, newline = false },
    { start = "\"", end = "\"", close = true, newline = false },
    { start = "'", end = "'", close = true, newline = false },
    { start = "`", end = "`", close = true, newline = false },
    { start = "``", end = "''", close = true, newline = false },
]
